@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1A2E45;
    color:#ffffff;
    max-width: 960px;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding:20px;
}

button {
    padding:16px 48px;
}

img {
    max-width:100%;
}

.logo {
    max-width:300px;
    margin:auto;
}