@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1A2E45;
    color:#ffffff;
    max-width: 960px;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    padding:20px 15px;
    line-height:1.5;
}

button {
    padding:16px 48px;
    margin:16px;
    border-radius:16px;
}

button:hover {
    background-color: #E1C67C;
}

h1, h2, h3, h4, h5, h6 {
    text-align:center;
}

.color-secondary {
    color: #E1C67C;
}

img {
    max-width:100%;
}

section {
    margin:0px 0px;
}

.logo {
    max-width:400px;
    margin:20px auto;
}

.d-flex {
    display:flex;
    justify-content:center;
}

.flex-column {
    flex-direction:column;
}

.text-align-center {
    text-align:center;
}

.fine-print {
    font-size:smaller;
}

#form {
    display:none;
}

p {
    max-width:80ch;
    margin:16px auto;
}